__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
*.pyc
*.pyo
*.db
*/migrations/
!*/migrations/__init__.py
media/
staticfiles/
static_root/
media_root/
.env
*.env
.vscode/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.cache
htmlcov/
.coverage
coverage.xml
test-results/
.nox/
pip-log.txt
pip-delete-this-directory.txt
venv/
env/
ENV/
.venv/
.pyvenv/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.ipynb_checkpoints/
